@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

/* nav bar */

nav {
  border-radius: 0px;
}

@media only screen and (min-width: 768px) {
  nav {
    border-radius: 6px;
  }
}

nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}

nav button:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  font-weight: bold;
}

/* Hero Section */

#hero {
  padding-bottom: 2rem;
}

#hero h1 {
  line-height: 53px;
}

#hero button:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
  font-weight: bolder;
}

/* Testimonial */

#testimonial span {
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonial span img {
  border-radius: 12rem;
  width: 4rem;
}

/* New sletter */

#newsletter .container div {
  display: grid;
  place-content: center;
  place-items: center;
}

form button:hover {
  transition: 0.5s;
}

/* Blog */

#Blog img {
  border: 1px solid white;
  border-radius: 6px;
}

#Blog button {
  border: 1px solid;
  border-radius: 2px;
}

#Blog button:hover {
  transition: 0.5s;
}

.blogbody {
  padding-bottom: 22px;
  box-shadow: 2px 3px 12px 0px #dadada;
}

.blogbody:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

/* contact Us */




/* Footer  */

footer a {
  color: rgb(182, 182, 182);
  font-size: 13px;
}
 
footer a:hover {
  transition: 0.5s;
  text-decoration: underline;
  color: white;
}

footer span i {
  color: rgb(182, 182, 182);
  transition: 0.5s;
}

footer span i:hover {
  transition: 0.5s;
  color: white;
}
